<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testList" parallel="instances" thread-count="5">	
	
	<test name="Test">
	    <parameter name="testCycle" value="Avner 1.14" />
		<classes>
			<!-- <class name="com.perfectomobile.beton.CommunitySignIn" />  -->
			<class name="com.perfectomobile.beton.KeywordDrivenTest" />
		</classes>

	</test> <!-- Test -->	


	
</suite> <!-- Suite -->
 
